.Complete-profile-section {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.profile-header {
  padding: 20px 30px;
  border-bottom: 0.5px solid #eaeaea;
  text-align: center;
}

.profile-header h1 {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.profile-content {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.profile-form-container {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dp-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.dp-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.dp-container button {
  position: absolute;
  bottom: 10px;
  right: 22px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow:hidden;
  border:0.5px solid #ccc;
}

.dp-container button:hover {
  background: rgba(255, 255, 255, 0.916);
}

.form-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  border: none;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.interest-container {
  width: 60%;
  padding: 20px;
}

.interest-container h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #444;
  font-family: 'Poppins', sans-serif;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-item {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #eef2ff;
  color: #3730a3;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.category-item:hover {
  background: #e0e7ff;
}

.category-item-selected {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #c7d2fe;
  color: #1e40af;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.category-container-phone {
  display: none;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

.mobile-interest-heading {
  display: none;
  margin-top: 5px;
}

.mobile-interest-heading h1 {
  font-size: 18px;
  font-weight: 500;
  color: #444;
  font-family: 'Poppins', sans-serif;
}

.cmp-profile-ip-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}


@media (width <= 1000px) {
  .profile-header {
    padding: 12px 16px;
  }

  .profile-header h1 {
    font-size: 20px;
  }

  .profile-content {
    flex-direction: column;
  }

  .profile-form-container,
  .interest-container {
    width: 100%;
  }

  .interest-container {
    display: none;

  }

  .category-container-phone {
    display: flex;
    margin-top: 10px;
  }

  .mobile-interest-heading {
    display: block;
  }
}
