

/* Left side */
.signup-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
 width: 450px;
  height: 400px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

/* Logo */
.logo-box {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form container */
.form-box {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-box-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.form-input-container{
  width:100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



/* Button */
.signup-btn {
  margin-top: 8px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #1e49f8;
  color: #fff;
  cursor: pointer;
  width:100%;
  font-weight: bolder;
}


/* Footer */
.sign-footer{
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:-3px;
}


/* Right side */
.signup-right {
  width: 50%;
}

.signup-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1300px) {
  .signup-right {
    display: none;
  }

  .signup-left {
    width: 100%;
  }
  .card{
    width: 300px;
  }
}
