.update-business {
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  background: #f8f9fa;
}

.update-business-card {
  max-width: 600px;
  width: 100%;
  background: white;
  border-radius: 16px;
  padding: 2rem;
  border: 1px solid #e9ecef;
}

.update-business-card > h2{
  text-align: center;
  font-weight: 500;
}

.update-business-media {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto
}

.update-business-media img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.update-business-media button {
  position: absolute;
  bottom: 0;
  right: 0;
  /* background: black; */
  color: rgb(127, 125, 125);
  border-radius: 50%;
  border: 0.5px solid rgb(192, 191, 191);
  padding: 4px;
}

.update-business-description > textarea {
  margin-bottom: 1rem;
  border:1px solid #dee2e6;
}

.update-business-input {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 0 10px;
}

.update-business-input input,
textarea,
select {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
}

.update-business-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.update-business-categories button {
  border-radius: 999px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.update-business-categories .selected {
  background: black;
  color: white;
}

.update-business-save {
  margin-top: 1.5rem;
  width: 100%;
  height: 42px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
}

.spin {
  animation: spin 1s linear infinite;
}

.social-icons{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 10px;
}

.social-icons > button{
  cursor: pointer;
}

.category-header,.social-links-header{
  margin-top: 10px;
  margin-bottom: 5px;
}

.social-modal{
  margin-top: 10px;
}

.social-actions{
  display: flex;
  justify-content: space-between;
}
.social-actions > button{
  width: 49%;
  height: 30px;
  position:relative;
  top: 5px;
  cursor: pointer;
   border-radius: 6px;
}

.social-actions > button:first-child{
  background-color: rgb(241, 240, 240);
 
}

.social-actions > button:last-child{
  background-color: rgb(0, 34, 255);
  color: white;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
