:root {
  --max-width: 1200px;
  --border-radius: 6px;
  --border-dark: 1px solid #565252ae;
  --border-light: 1px solid #eaeaea;
}
.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 0 0;
}

.footer-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-logo {
  width: 140px;
  height: auto;
  margin-bottom: 12px;
  object-fit: contain;
  display: block;
}

.footer-text {
  font-size: 14px;
  color: #bbb;
}

.footer-brand-container, .footer-text {
  position: relative;
  top: -30px;
}

.footer-section h3 {
  margin-bottom: 12px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #bbb;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}

/* Contact */
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  color: #bbb;
  font-size: 14px;
}

/* Social Icons */
.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  color: #bbb;
  transition:
    color 0.3s,
    transform 0.2s;
}

.social-links a:hover {
  color: #fff;
  transform: translateY(-2px);
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding: 15px 0;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
