:root {
  --max-width: 1200px;
  --border-radius: 6px;
  --border-dark: 1px solid #565252ae;
  --border-light: 1px solid #eaeaea;
}

.biz-card {
  width: 100%;
  min-width: 240px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #eee;
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
  
}

.dark.biz-card{
  background-color:#0d0d0d;
  border: var(--border-dark);
}


/* IMAGE */

.biz-image-wrap {
  position: relative;
}

.biz-thumb {
  width: 100%;
  height: 140px;
  object-fit: cover;
  background: #f3f3f3;
}

/* BADGES */

.badge {
  position: absolute;
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-businessCard {
  top: 8px;
  right: 8px;
  background: #16a34a;
}

.status {
  bottom: 8px;
  left: 8px;
}

.status.open {
  background: #22c55e;
}

.status.closed {
  background: #ef4444;
}

/* CONTENT */

.biz-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.biz-name {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CATEGORIES */

.biz-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.cat-pill {
  background: #f1f5f9;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 999px;
  position: relative;
  bottom: 5px;
  left:-3px;
}

.dark .cat-pill{
  color : black
}

/* DESCRIPTION */

.biz-desc {
  font-size: 12px;
  color: #555;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  bottom: 10px;
}

.dark .biz-desc{
  color: rgba(255, 255, 255, 0.559);
}

/* META */

.biz-meta {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #666;
}

.biz-meta span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dark .biz-meta span{
  color: rgba(255, 255, 255, 0.559);
}

.badge.rating-businessCard {
  top: 8px;
  right: 8px;
  background: #16a34a;
}

.biz-desc {
  font-size: 12px;
  color: #555;
  margin: 0;
}

.more-text {
  color: #2563eb;
  font-weight: 500;
}
