:root {
  --border-dark: 1px solid #565252ae;
  --border-light: 1px solid #eaeaea;
}



.profile-nav {
  height: 60px;
  width: 100%;
  border-bottom: var(--border-light);
  padding: 0 20px;
}

.profile-nav-dark {
  background-color: #010409;
  color: white;
  border-bottom: var(--border-dark);
}

.profile-nav > div {
  width: 80%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin: 0 auto;
}

.nav-profile-info-container {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.nav-profile-info-container img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-profile-info-container h5 {
  opacity: 0.8;
  font-size: 12px;
  position: relative;
  top: -5px;
}

.profile-nav-back-btn {
  width: 60px;
  height: 35px;
  border: var(--border-light);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.profile-nav-back-btn:hover {
  background-color: #f0f0f0;
}

.profile-nav-back-btn-dark {
  width: 60px;
  height: 35px;
  border: var(--border-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
}
.profile-nav-back-btn-dark:hover {
  background-color: rgba(75, 73, 73, 0.605);
}

@media (width<=700px) {
  .profile-nav > div {
    width: 100%;
  }
}
