:root {
  --max-width: 1200px;
  --border-radius: 6px;
  --border-dark: 1px solid #565252ae;
  --border-light: 1px solid #eaeaea;
}

.infiniteScroller{
  overflow: visible !important;
}

.business-explore-section{
    width: 100%;
    min-height: max-content;
    height: 100%;
    padding:10px  20px;
}



.location-error-simple {
  text-align: center;
  padding: 40px 20px;
  max-width: 400px;
  margin: 40px auto;
}

.error-icon-large {
  color: #ef4444;
  margin: 0 auto 16px;
}

.explore-business-container h1 {
  font-size: clamp(20px, 4vw, 28px);
  font-weight: 700;
  margin: 20px 0 30px 0;
  color: #1f2937;
  text-align: center;
}
.dark .explore-business-container h1{
  color: white;
}

.dark .empty-feed__title{
  color : #6b7280;
}

.location-error-simple h3 {
  color: #dc2626;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px 0;
}

.location-error-simple p {
  color: #7f1d1d;
  font-size: 16px;
  margin: 0 0 4px 0;
}



.explore-business-container {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}


.business-grid {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

/* Small phones */
@media (max-width: 480px) {
  .business-grid {
    grid-template-columns: 1fr;
  }
}

/* Tablets */
@media (min-width: 600px) {
  .business-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Laptops */
@media (min-width: 900px) {
  .business-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .business-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
