/* Page */
.signup {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: #f4f6ff;
}

/* right – FORM SIDE */
.signup-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #446affa9, #0441f9);
  border-radius: 25px 0 0 25px;
  border-left: 0.5px solid #000000;
}

/* Card */
.card {
  width: 420px;
  padding: 36px 32px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.sign-heading-container{
  height:20%;
  width:100%;
}

.sign-heading-container h1{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.sign-heading-container p{
  text-align: center;
  font-size: 13px;
  color: #666;
}

/* Logo */
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  
}

.logo-box img {
  height: 100%;
  width:100%;
  object-fit: contain ;
}

/* Form container */
.form-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
  
}

.form-box-form {
  display: flex;
  flex-direction: column;
}

/* Inputs wrapper */
.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}


/* Button */
.signup-btn {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background:#1e49f8;
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-btn:hover {
  background: #0f43dd;
}

/* Footer */
.sign-footer {
  margin-top: auto;
  text-align: center;
  font-size: 13px;
  color: #555;
}

.sign-footer h3 {
  font-weight: 500;
  cursor: pointer;
}

.sign-footer span{
  color: #1e49f8;
}

.sign-footer h3:hover {
  text-decoration: underline;
}

/* RIGHT – BANNER */
.signup-right {
  width: 50%;
  background-color: #ffffff;
}

.signup-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 40px;
}

.google-btn {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
}

.google-btn:hover {
  background: #f5f5f5;
}

.google-icon {
  width: 30px;
  height: 30px;
}

.login-forgot-password-container{
  height: 15px ;
  text-align: right;
  margin:6px 0;
  font-size: 13px;
  color :#1e49f8;
  font-weight:500;
  cursor: pointer;
}
.login-forgot-password-container:hover{
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 1300px) {
  .signup-right {
    display: none;
  }

  .signup-left {
    width: 100%;
    border-radius: 0;
  }

  .card {
    width: 320px;
    padding: 28px 24px;
  }
}
