
.auth-ip-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

/* Label */
.auth-ip-container h1,
.auth-ip-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}


.auth-ip-wrapper {
  position: relative;
  width: 100%;
}


.auth-input-field {
  width: 100%;
  padding: 10px 12px;

  border: 1px solid rgba(40, 39, 39, 0.3);
  border-radius: 6px;

  outline: none;
  font-size: 14px;
  background-color: #fff;

  transition: border-color 0.2s ease;
}

/* Add space only when icon exists */
.auth-ip-wrapper.has-icon .auth-input-field {
  padding-right: 40px;
}

/* Focus */
.auth-input-field:focus {
  border-color: rgba(0, 0, 0, 0.45);
}


.auth-input-field::placeholder {
  color: #999;
  transition: all 0.2s ease;
}

.auth-input-field:focus::placeholder {
  font-size: 16px;
}


.auth-ip-icon-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #555;
}

.auth-ip-icon-btn:hover {
  color: #000;
}


.auth-ip-error-box {
  height: 15px;
  display: flex;
  align-items: center;
}

.auth-ip-error-text {
  font-size: 12px;
  color: red;
  font-weight: 500;
  text-transform: capitalize;
}


